<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>

<body>
    <div class="container">
        <div class="chatbox">
            <div class="chatbox__support">
                <div class="chatbox__header">
                    <div class="chatbox__image--header">
                        <img class="chatbot-image" src="{{ url_for('static', filename='images/pluto-icon.png') }}" alt="image">
                    </div>
                    <div class="chatbox__content--header">
                        <h4 class="chatbox__heading--header">Chat support</h4>
                        <p class="chatbox__description--header">Hi!👋 I'm <b>Pluto</b>. Happy to chat with you😊</p>
                    </div>
                </div>
                <div class="chatbox__messages">
                    <div class="chatbox__options-container"></div>
                </div>
                <div class="chatbox__footer">
                    <input type="text" placeholder="Write a message...">

                    <button class="chatbox__send--footer send__button"><img src="{{ url_for('static', filename='images/send-icon7.png') }}" /></button>
                </div>
            </div>
            <div class="chatbox__button">
                <button><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}" /></button>
            </div>
        </div>
    </div>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
</body>

</html>
